// Typographic style for web "pages" (i.e. mostly textual content, as opposed
// to web "applications").
// Once applied by using the c-content class, elements such as h1 or p are
// styled without additional classes.

.c-content h1,
.c-content h2 {
  color: $color-heading;
}

.c-content h1,
.c-content h2 {
  font-family: $g-headings-font-family;
}

.c-content h1 {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.25;
  letter-spacing: -0.05em;
  margin: 7.5rem 0 2rem; // Vertical margin is temporary, for the
                         // static-binaries.html example, until
                         // the navigation is added.
}

.c-content h2 {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 1.25;
  letter-spacing: -0.05em;
  margin: 2.25rem 0 1.5rem;
}

.c-content p {
  color: $color-body;
}

.c-content a {
  color: $color-link;
}

.c-content hr {
  color: $color-body;
  background-color: $color-body;
}

.c-content p,
.c-content a {
  font-family: $g-base-font-family;
}

.c-content p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  margin: 1rem 0;
}

.c-content hr {
  width: 8rem;
  border: none;
  height: .125rem;
  margin: 2.125rem 0;
}
