.c-toolbar {
  width: 100%;
  display: flex;
  padding-top: 1.2rem; // This is used to vertically center the links within the
                       // navbar. This will have to be revisited when the navbar
                       // is using ul/li/a with proper classes on the ul/li.
}

.c-toolbar__left,
.c-toolbar__right {
  display: flex;
  flex: 1 0 auto;
}

.c-toolbar__left {
  .c-toolbar__item:not(:first-child) {
    margin-left: 1.68rem;
  }
}

.c-toolbar__right {
  justify-content: flex-end;
  .c-toolbar__item:not(:first-child) {
    margin-left: 1.6rem;
  }
}
