@import "s-colors";
@import "s-fonts";
@import "s-variables";

@import "reset";
@import "g-box-sizing";

@import "e-base";

@import "o-container";

@import "c-base";
@import "c-content";
@import "c-navbar";
@import "c-toolbar";

@import "u-spacer";
@import "u-placeholder";



// Working, but not yet ok code follows.

// The width here is 128 (the width of my screen) - 16 - 16 (left and right
// margins) so the left border of the title and paragraph in the
// example page are perfectly aligned with the static-binaries example.
$page-width: 960px !default;
$gutter: 30px !default;
$gutter-half: calc($gutter / 2);

// I guess I should instead use (or combine with) what I already have in
// o-container.
.width-container {
  max-width: $page-width;
  margin-right: auto;
  margin-left: auto;
}

.grid-row {
  // clearfix.
  &:after {
    content: "";
    display: block;
    clear: both;
  }
  margin-right: - ($gutter-half);
  margin-left: - ($gutter-half);
}

.grid-column-two-thirds {
  width: 100%;
  padding: 0 $gutter-half;
  width: calc(200% / 3);
  float: left;
}

.grid-column-one-third {
  width: 100%;
  padding: 0 $gutter-half;
  width: calc(100% / 3);
  float: left;
}
