$o-container-max-width-small: 48rem;
$o-container-max-width-medium: 72rem;
$o-container-max-width: 130rem;

.o-container--small {
  margin: 0 9.75rem;
  max-width: $o-container-max-width-small;
}

.o-container--medium {
  margin: 0 auto;
  max-width: $o-container-max-width-medium;
}

.o-container {
  margin: 0 auto;
  max-width: $o-container-max-width;
}
