doctype html

html
  head
    link(rel="stylesheet" href="/static/css/main.css")
  body
    .o-container--small.c-content
      h1 Web page typography

      p A single class to style textual elements such as h1 and p.

      hr

      h1 Lorem ipsum
      h2 Lorem ipsum
      p Lorem ipsum
      a Lorem
