extends layouts/document

block body
  .o-container--small.c-content
    h1 Lorem ipsum dolor sit amet, consectetur adipiscing elit.

    p Slowly creating an ITCSS implementation of <a href=https://hypered.design>hypered.design</a>.

    ul
      li: a(href="examples/static-binaries.html") Static binaries
      li: a(href="examples/static-binaries-toolbar.html") Static binaries, with toolbar
      li: a(href="examples/two-thirds-one-third.html") Two thirds / one third layout
