doctype html

html
  head
    link(rel="stylesheet" href="/static/css/main.css")
  body
    .o-container--small.c-display
      h1 Placeholders

      p Classes to style placeholder divs.

      p
        code u-placeholder-xs
      .u-placeholder-xs
      p
        code u-placeholder-s
      .u-placeholder-s
      p
        code u-placeholder
      .u-placeholder
      p
        code u-placeholder-l
      .u-placeholder-l
      p
        code u-placeholder-xl
      .u-placeholder-xl

      p.u-spacer-bottom-m © Võ Minh Thu, 2017-2023.
