doctype html
html(dir="ltr", lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/static/css/struct/reset.css")
        link(rel="stylesheet", href="/static/css/struct/ibm-plex.css")
        link(rel="stylesheet", href="/static/css/struct/scale.css")
    body
        .u-container
            .c-content.flow-all.paragraph-70ch
                h1 Technicalities

                p In the <a href="foundations.html">previous part</a>, we have layed down some foundations upon which we can finally write our own CSS: outlines, reset, box-sizing, and rem definition. In this part we talk about some technical details used to write CSS: how we assemble a single CSS file that can be distributed out of smaller files, and how we name those files and the rules they contain.

                h1 Using CSS files

                h1 BEM and ITCSS

                p o-container, o-container--small

                h1 Placeholders
