/* -----------------------------------------------------------------------------
   STRUCT dev.scss - Debug utilities for development
   
   This file contains debug utilities and helpers for development.
   -------------------------------------------------------------------------- */

// Style iframes in the notes.
.wrrrap {
  width: 964px;
  margin: 1.4em auto 0 0;
}

.wrrrap iframe {
  border: 2px solid #DDD;
}
