// This defines layouts.

// Container. Add some room left and right of its content. This has also the
// added benefit of restricting its maximum horizontal dimension.

.u-container {
  min-width: calc(15.1rem - 2 * var(--grid-gutter));
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.u-container-vertical {
  // TODO I'd like the padding-top to be the same as the flow-all for a c-text
  // h1. I.e. using flow-all or using u-container-vertical should be the same.
  // In addition, a c-text h1 could also match the position of the Refli logo
  // in the navigation bar.

  padding-block: var(--grid-gutter);
}
.u-container-top {
  padding-block-start: var(--grid-gutter);
}

// Inset. Add some room around its content.

.inset {
  padding: var(--grid-gutter);
}

// Box. Similar to inset, with a border.
// Similar to Panel in Mono's work ?
.box {
  padding: var(--grid-gutter);
  border: 2px solid black;
}

// Bar. Separate items organized horizontally.

.u-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.u-bar__left {
}
.u-bar__right {
  ul li {
    display: inline;
    margin-left: var(--space-s);
  }
}

// Switcher. Separate items organized horizontally, or vertically if the parent
// is too narrow.

.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-m);
}

.switcher > * {
  --measure: 80ch;
  flex-basis: calc((var(--measure) - 100%) * 999);
  flex-grow: 1;
}

.switch-at-60rem > * {
  --measure: 37.5rem;
  flex-basis: calc((var(--measure) - 100%) * 999);
}

.switcher-0px {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse; // We want the last button horizontally (right hand) be the first vertically.
  gap: 4px 0px; // We want a small gap vertically.
}

.switcher-0px > * {
  --measure: 40ch;
  flex-basis: calc((var(--measure) - 100%) * 999);
  flex-grow: 1;
}

