

.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-m);
}

.switcher > * {
  --measure: 80ch;
  flex-basis: calc((var(--measure) - 100%) * 999);
  flex-grow: 1;
}

.switch-at-60rem > * {
  --measure: 60rem;
  flex-basis: calc((var(--measure) - 100%) * 999);
}

.switcher-0px {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse; // We want the last button horizontally (right hand) be the first vertically.
  gap: 4px 0px; // We want a small gap vertically.
}

.switcher-0px > * {
  --measure: 40ch;
  flex-basis: calc((var(--measure) - 100%) * 999);
  flex-grow: 1;
}

