.inter {
  @import url("https://rsms.me/inter/inter.css");

  font-family: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;

  @supports (font-variation-settings: normal) {
    html {
      font-family: "Inter var", -apple-system, BlinkMacSystemFont, sans-serif;
    }
  }
}

.editable-pre[contenteditable="true"]:active,
.editable-pre[contenteditable="true"]:focus {
  background: #fff;
  box-shadow: 0 0 0 1px #96ccff;
  outline: none;
}
