html {
  --unit: .25rem;
  overflow-y:scroll;
}

.hy-ibm-plex {
  font-family: "IBM Plex Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  color:blue;
  text-decoration:none;
}

.main-mw {
  max-width: calc(var(--unit) * 320);
}

.poster ul.ep-nav a {
  opacity: 0.10;
}

.poster ul.ep-nav a:hover {
  opacity: 1.00;
}

pre{
  line-height: 1.0;
}

code{
  font-size: 0.85em;
}

/* Leader lines. Code from
 * https://markentier.tech/posts/2021/03/responsive-toc-leader-lines-with-css/
 */
.leader-line {
  display: grid;
  grid-template-columns: auto max-content;
  grid-template-areas: "a b";
  align-items: end;
  gap: 0 .25rem;
}

.leader-line-a {
  grid-area: a;
  position: relative;
  overflow: hidden;
}

.leader-line-a::after {
  position: absolute;
  padding-left: .25ch;
  content: " . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . . . . ";
  text-align: right;
}

.leader-line-b {
  grid-area: b;
}
