@import url("https://rsms.me/inter/inter.css");

.inter {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
}

.ff-tab-num {
  font-feature-settings: "tnum" 1;
}

.editable-pre[contenteditable="true"]:active,
.editable-pre[contenteditable="true"]:focus {
  background: #fff;
  box-shadow: 0 0 0 1px #96ccff;
  outline: none;
}

.min-height-vh-100 {
  min-height: 100vh;
}

.checkbox {
  background: white;
  border: 1px solid black;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
}

.checkbox:checked {
  background-color: black;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMy4xOTI0IDUuNTM1NTNMNi44Mjg0MyAxMS44OTk1TDMuMjkyOSA4LjM2Mzk2TDQuNzA3MTEgNi45NDk3NUw2LjgyODQzIDkuMDcxMDdMMTEuNzc4MiA0LjEyMTMyTDEzLjE5MjQgNS41MzU1M1oiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=");
  background-position: center;
}

.checkbox:indeterminate {
  background-color: black;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeD0iMyIgeT0iNyIgd2lkdGg9IjEwIiBoZWlnaHQ9IjIiIGZpbGw9IndoaXRlIi8+Cjwvc3ZnPgo=");
  background-position: center;
}
