doctype html
html(dir="ltr", lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/static/css/struct/reset.css")
        link(rel="stylesheet", href="/static/css/struct/ibm-plex.css")
        link(rel="stylesheet", href="/static/css/struct/scale.css")
    body
        .u-container
            .c-text.flow-all
                h1 Specimens
                ul
                    li
                        a(href="/specimens/type-scale-a.html") Type scale A
                    li
                        a(href="/specimens/type-scale-b.html") Type scale B
                    li
                        a(href="/specimens/type-scale-c.html") Type scale C
