doctype html
html(dir="ltr", lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/static/css/struct/foundations.css")
        link(rel="stylesheet", href="/static/css/struct/ibm-plex.css")
        link(rel="stylesheet", href="/static/css/struct/fonts.css")
        link(rel="stylesheet", href="/static/css/struct/scale.css")
        link(rel="stylesheet", href="/static/css/struct/misc.css")
    body.u-container-vertical
        .u-container
            .c-text.flow
                h1 Struct
                p Struct is an implementation of the Hypered design system using a "fluid" approach.

                h2 Notes
                p These are implementation notes. The long-term goal is to explain how to create the (struct based) design from scratch, with no previous knowledge of CSS or HTML.
                ul
                    li
                        a(href="/notes/foundations.html") Foundations
                    li
                        a(href="/notes/technicalities.html") Technicalities
                    li
                        a(href="/notes/media-queries.html") Media queries
                    li
                        a(href="/notes/dimensions.html") Dimensions

                h2 Specimens
                p These are card-like pages to showcase specifics of the design implementation.
                ul
                    li
                        a(href="/specimens/overview.html") Overview
                    li
                        a(href="/specimens/type-scale.html") Type scale
                    li
                        a(href="/specimens/type-scale-a.html") Type scale A
                    li
                        a(href="/specimens/type-scale-b.html") Type scale B
                    li
                        a(href="/specimens/type-scale-c.html") Type scale C
                    li
                        a(href="/specimens/type-scale-d.html") Type scale D
                    li
                        a(href="/specimens/lorem.html") Lorem ipsum
                    li
                        a(href="/specimens/limits.html") Limits
                    li
                        a(href="/specimens/placeholders.html") Placeholders
                    li
                        a(href="/specimens/flexbox.html") Flexbox
                    li
                        a(href="/specimens/button.html") Button
                    li
                        a(href="/specimens/buttons.html") Buttons
                    li
                        a(href="/specimens/cover.html") Cover
                    li
                        a(href="/specimens/form.html") Form
                    li
                        a(href="/specimens/dropdown.html") Pure CSS dropdown
                    li
                        a(href="/specimens/tachyons.html") Tachyons
                    li
                        a(href="/specimens/logo.html") logo

                h2 Prototypes
                p These are complete, high-fidelity pages for existing or future application pages, including occasional variants.
                h3 Refli
                ul
                    li
                        a(href="/prototypes/refli/index.html") Homepage
                    li
                        a(href="/prototypes/refli/index-constant.html") Homepage (constant)
                    li
                        a(href="/prototypes/refli/login.html") Log in
                    li
                        a(href="/prototypes/refli/signup.html") Sign up
                    li
                        a(href="/prototypes/refli/describe.html") Salary computation form
