doctype html
html(dir="ltr", lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/static/css/struct.css")
    body.u-container-vertical
        .u-container
            .c-text.flow
                h1 Struct
                p Struct is an implementation of the Hypered design system using a "fluid" approach.

                h2 Notes
                p These are implementation notes. The long-term goal is to explain how to create the (struct based) design from scratch, with no previous knowledge of CSS or HTML.
                ul
                    li
                        a(href="/notes/foundations.html") Foundations
                    li
                        a(href="/notes/technicalities.html") Technicalities
                    li
                        a(href="/notes/media-queries.html") Media queries
                    li
                        a(href="/notes/dimensions.html") Dimensions
                    li
                        a(href="/notes/fonts.html") Fonts
                    li
                        a(href="/notes/scales.html") Scales
                    li
                        a(href="/notes/flow.html") Flow
                    li
                        a(href="/notes/placeholders.html") Placeholders
                    li
                        a(href="/notes/layouts.html") Layouts

                h2 Specimens
                p These are card-like pages to showcase specifics of the design implementation.
                ul
                    li
                        a(href="/specimens/overview.html") Overview
                    li
                        a(href="/specimens/type-scale.html") Type scale
                    li
                        a(href="/specimens/type-scale-a.html") Type scale A
                    li
                        a(href="/specimens/type-scale-b.html") Type scale B
                    li
                        a(href="/specimens/type-scale-c.html") Type scale C
                    li
                        a(href="/specimens/type-scale-d.html") Type scale D
                    li
                        a(href="/specimens/lorem.html") Lorem ipsum
                    li
                        a(href="/specimens/limits.html") Limits
                    li
                        a(href="/specimens/placeholders.html") Placeholders
                    li
                        a(href="/specimens/flexbox.html") Flexbox
                    li
                        a(href="/specimens/key-values.html") Key values
                    li
                        a(href="/specimens/button.html") Button
                    li
                        a(href="/specimens/buttons.html") Buttons
                    li
                        a(href="/specimens/navigation.html") Navigation
                    li
                        a(href="/specimens/cover.html") Cover
                    li
                        a(href="/specimens/form.html") Form
                    li
                        a(href="/specimens/dropdown.html") Pure CSS dropdown
                    li
                        a(href="/specimens/tachyons.html") Tachyons
                    li
                        a(href="/specimens/logo.html") Logo
                    li
                        a(href="/specimens/pikchr.html") Pikchr

                h2 Prototypes
                p These are (meant to be) complete, high-fidelity pages for existing or future application pages, including occasional variants.
                h3 Refli
                ul
                    li
                        a(href="/prototypes/refli/index-root.html") Homepage (selector)
                    li
                        a(href="/prototypes/refli/index.html") Homepage
                    li
                        a(href="/prototypes/refli/index-constant.html") Homepage (constant)
                    li
                        a(href="/prototypes/refli/login.html") Log in
                    li
                        a(href="/prototypes/refli/signup.html") Sign up
                    li
                        a(href="/prototypes/refli/subscribe.html") Subscribe
                    li
                        a(href="/prototypes/refli/form-foo.html") Foo
                    li
                        a(href="/prototypes/refli/message-foo-success.html") Foo success
                    li
                        a(href="/prototypes/refli/message-signup-success.html") Sign up success
                    li
                        a(href="/prototypes/refli/message-subscribe-success.html") Subscribe success
                    li
                        a(href="/prototypes/refli/reset.html") Reset password
                    li
                        a(href="/prototypes/refli/describe.html") Salary computation form
                    li
                        a(href="/prototypes/refli/blog-index.html") Blog index
                    li
                        a(href="/prototypes/refli/blog-post-introducing-refli.html") Blog post
                        |
                        | (
                        a(href="/prototypes/refli/blog-post-introducing-refli-fr.html") Fr
                        | ,
                        |
                        a(href="/prototypes/refli/blog-post-introducing-refli-nl.html") Nl
                        | )
                    li
                        a(href="/partials/refli/en/blog/introducing-refli.html") Blog post partial
                h3 Lex Iterata
                p An attempt at an alternative rendition of the <a href="https://www.ejustice.just.fgov.be/">official Belgian journal</a>.
                ul
                    li
                        a(href="/prototypes/refli/motherboard-index.html") Homepage
                    li
                        a(href="/prototypes/refli/motherboard-index-1.html") Index (one entry)
                        |
                        | -
                        |
                        a(href="https://www.ejustice.just.fgov.be/eli/constitution/1831") Original
                    li
                        a(href="/prototypes/refli/motherboard-index-2.html") Index (many entries)
                        |
                        | -
                        |
                        a(href="https://www.ejustice.just.fgov.be/eli/loi/2022") Original
                    li
                        a(href="/prototypes/refli/motherboard-index-dense.html") Index (dense version)
                    li
                        a(href="/prototypes/refli/motherboard-index-data.html") Index (dense and complete)
                    li
                        a(href="/prototypes/refli/motherboard-document.html") Justel document
