doctype html
html(dir="ltr", lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        style.
          * {outline: dashed blue;}
          html {outline: dashed red;}
          body {outline: dashed pink}
          div {outline: solid lightgrey; width: 60%;}
    body
        div
            h1 Purus maecenas
            p Risus viverra. Viverra turpis at viverra nisi, et ac est leo dui. Dui, senectus scelerisque vitae nunc non. Nibh viverra vel faucibus suspendisse blandit consequat. Nibh egestas eu.
