include ../includes/mixins/icons.pug
doctype html
html(dir="ltr", lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/static/css/struct/foundations.css")
        link(rel="stylesheet", href="/static/css/struct/ibm-plex.css")
        link(rel="stylesheet", href="/static/css/struct/fonts.css")
        link(rel="stylesheet", href="/static/css/struct/scale.css")
        link(rel="stylesheet", href="/static/css/struct/misc.css")
        link(rel="stylesheet", href="/static/css/struct/layouts.css")
    body
        .u-container.u-container-vertical
            .c-text.flow
                h1 Button
                p This page xxxs.
                button.c-button.c-button--secondary.c-button--tall(type="submit")
                    span Register
                button.c-button.c-button--secondary.c-button--tall(type="submit")
                    span Register
                button.c-button.c-button--primary.c-button--tall(type="submit")
                    span Log in
                    +arrow-right
                .switcher-0px
                    button.c-button.c-button--primary.c-button--tall(type="submit")
                        span Log in
                        +arrow-right
                    button.c-button.c-button--secondary.c-button--tall(type="submit")
                        span Register
