doctype html
html(dir="ltr", lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/static/css/struct.css")
    body
        .u-container
            .c-text.flow-all.max-40rem
                h1 Image
                p This is a specimen page showing a single image.

                img.adapt(src="/static/images/noisy-brick.jpg" alt="A texture generated with Blender using a noisy brick pattern")
