doctype html
html(dir="ltr", lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/static/css/struct/foundations.css")
        link(rel="stylesheet", href="/static/css/struct/ibm-plex.css")
        link(rel="stylesheet", href="/static/css/struct/fonts.css")
        link(rel="stylesheet", href="/static/css/struct/scale.css")
        link(rel="stylesheet", href="/static/css/struct/layouts.css")
        link(rel="stylesheet", href="/static/css/struct/misc.css")
    body
        .u-container
            .c-text.flow-all
                h1 Type scale
                p This page allows to visualize a particular type scale. Initial values are the type scale D.

            style.
              :root {
                /* We use similar notation to utopia.fyi but using 1rem=10px. */

                --f-min-w: 320.0;
                --f-max-w: 1480.0;

                --f-0-min: 10;
                --f-0-max: 46.25;

                --factor-min: 1.2; /* Minor third */
                --factor-max: 1.333; /* Perfect four */
                /* TODO Those should be the same for the type scale D.
                   The u-container padding should
                   be substracted from --f-w and 100vw. */

                --to-rem: 0.0625;

                --f--min-w: -1 * var(--f-min-w);
                --f-w: var(--f-max-w) - var(--f-min-w);

                --f-1-min: var(--f-0-min) * var(--factor-min);
                --f-2-min: var(--f-1-min) * var(--factor-min);
                --f-3-min: var(--f-2-min) * var(--factor-min);
                --f-4-min: var(--f-3-min) * var(--factor-min);
                --f-5-min: var(--f-4-min) * var(--factor-min);

                --f-1-max: var(--f-0-max) * var(--factor-max);
                --f-2-max: var(--f-1-max) * var(--factor-max);
                --f-3-max: var(--f-2-max) * var(--factor-max);
                --f-4-max: var(--f-3-max) * var(--factor-max);
                --f-5-max: var(--f-4-max) * var(--factor-max);

                --f-0-slope: calc(
                  (var(--f-0-max) - var(--f-0-min)) / (var(--f-w))
                );
                --f-1-slope: calc(
                  (var(--f-1-max) - var(--f-1-min)) / (var(--f-w))
                );
                --f-2-slope: calc(
                  (var(--f-2-max) - var(--f-2-min)) / (var(--f-w))
                );
                --f-3-slope: calc(
                  (var(--f-3-max) - var(--f-3-min)) / (var(--f-w))
                );
                --f-4-slope: calc(
                  (var(--f-4-max) - var(--f-4-min)) / (var(--f-w))
                );
                --f-5-slope: calc(
                  (var(--f-5-max) - var(--f-5-min)) / (var(--f-w))
                );

                --f-0-y-intersect: calc(
                  (var(--f--min-w) * var(--f-0-slope) + var(--f-0-min))
                );
                --f-1-y-intersect: calc(
                  (var(--f--min-w) * var(--f-1-slope) + var(--f-1-min))
                );
                --f-2-y-intersect: calc(
                  (var(--f--min-w) * var(--f-2-slope) + var(--f-2-min))
                );
                --f-3-y-intersect: calc(
                  (var(--f--min-w) * var(--f-3-slope) + var(--f-3-min))
                );
                --f-4-y-intersect: calc(
                  (var(--f--min-w) * var(--f-4-slope) + var(--f-4-min))
                );
                --f-5-y-intersect: calc(
                  (var(--f--min-w) * var(--f-5-slope) + var(--f-5-min))
                );

                --step-0: clamp(
                  var(--f-0-min) * var(--to-rem) * 1rem,
                  var(--f-0-y-intersect) * var(--to-rem) * 1rem + var(--f-0-slope) * 100vw,
                  var(--f-0-max) * var(--to-rem) * 1rem
                );
                --step-1: clamp(
                  var(--f-1-min) * var(--to-rem) * 1rem,
                  var(--f-1-y-intersect) * var(--to-rem) * 1rem + var(--f-1-slope) * 100vw,
                  var(--f-1-max) * var(--to-rem) * 1rem
                );
                --step-2: clamp(
                  var(--f-2-min) * var(--to-rem) * 1rem,
                  var(--f-2-y-intersect) * var(--to-rem) * 1rem + var(--f-2-slope) * 100vw,
                  var(--f-2-max) * var(--to-rem) * 1rem
                );
                --step-3: clamp(
                  var(--f-3-min) * var(--to-rem) * 1rem,
                  var(--f-3-y-intersect) * var(--to-rem) * 1rem + var(--f-3-slope) * 100vw,
                  var(--f-3-max) * var(--to-rem) * 1rem
                );
                --step-4: clamp(
                  var(--f-4-min) * var(--to-rem) * 1rem,
                  var(--f-4-y-intersect) * var(--to-rem) * 1rem + var(--f-4-slope) * 100vw,
                  var(--f-4-max) * var(--to-rem) * 1rem
                );
                --step-5: clamp(
                  var(--f-5-min) * var(--to-rem) * 1rem,
                  var(--f-5-y-intersect) * var(--to-rem) * 1rem + var(--f-5-slope) * 100vw,
                  var(--f-5-max) * var(--to-rem) * 1rem
                );
              }

              .u-step-0 {
                font-size: var(--step-0);
              }
              .u-step-1 {
                font-size: var(--step-1);
              }
              .u-step-2 {
                font-size: var(--step-2);
              }
              .u-step-3 {
                font-size: var(--step-3);
              }
              .u-step-4 {
                font-size: var(--step-4);
              }
              .u-step-5 {
                font-size: var(--step-5);
              }

            div
              <button id="resetToTypeScaleA">Reset to type scale A</button>
            div
              <button id="resetToTypeScaleB">Reset to type scale B</button>
            div
              <button id="resetToTypeScaleC">Reset to type scale C</button>
            div
              <button id="resetToTypeScaleD">Reset to type scale D</button>
            div
              <label for="widthMin">Width min:</label>
              <input id="widthMin" value="320"/>
            div
              <label for="widthMax">Width max:</label>
              <input id="widthMax" value="1480"/>
            div
              <label for="fontSizeMin">Font size min:</label>
              <input id="fontSizeMin" value="10"/>
            div
              <label for="fontSizeMax">Font size max:</label>
              <input id="fontSizeMax" value="46.25"/>
            div
              <label for="factorMin">Factor min:</label>
              <select id="factorMin">
                <option value="1.125">Major second</option>
                <option value="1.2">Minor third</option>
                <option value="1.333">Perfect four</option>
              </select>
            div
              <label for="factorMax">Factor max:</label>
              <select id="factorMax">
                <option value="1.125">Major second</option>
                <option value="1.2">Minor third</option>
                <option value="1.333">Perfect four</option>
              </select>

            script.
              function updateLabels() {
                function updateLabel(heading, label) {
                  const el = document.getElementById(heading);
                  const style = window.getComputedStyle(el, null).getPropertyValue('font-size');
                  document.getElementById(label).innerHTML = `${style}`;
                };

                updateLabel('paragraph', 'label-0');
                updateLabel('heading-1', 'label-1');
                updateLabel('heading-2', 'label-2');
                updateLabel('heading-3', 'label-3');
                updateLabel('heading-4', 'label-4');
                updateLabel('heading-5', 'label-5');
              }
              window.addEventListener('resize', updateLabels);
              window.addEventListener('DOMContentLoaded', updateLabels);

              function mkChangeProperty(name) {
                return (event) => {
                  const value = event.target.value;
                  document.documentElement.style.setProperty(name, value);
                };
              };

              const widthMin = document.getElementById('widthMin');
              widthMin.addEventListener('change', mkChangeProperty('--f-min-w'));

              const widthMax = document.getElementById('widthMax');
              widthMax.addEventListener('change', mkChangeProperty('--f-max-w'));

              const fontSizeMin = document.getElementById('fontSizeMin');
              fontSizeMin.addEventListener('change', mkChangeProperty('--f-0-min'));

              const fontSizeMax = document.getElementById('fontSizeMax');
              fontSizeMax.addEventListener('change', mkChangeProperty('--f-0-max'));

              const factorMin = document.getElementById('factorMin');
              factorMin.addEventListener('change', mkChangeProperty('--factor-min'));

              const factorMax = document.getElementById('factorMax');
              factorMax.addEventListener('change', mkChangeProperty('--factor-max'));

              function setTypeScale (widthMin_, widthMax_, fontSizeMin_, fontSizeMax_, factorMin_, factorMax_) {
                function setProperty (name, variable, value) {
                  document.documentElement.style.setProperty(name, value);
                  variable.value = value;
                };

                setProperty('--f-min-w', widthMin, widthMin_);
                setProperty('--f-max-w', widthMax, widthMax_);
                setProperty('--f-0-min', fontSizeMin, fontSizeMin_);
                setProperty('--f-0-max', fontSizeMax, fontSizeMax_);
                setProperty('--factor-min', factorMin, factorMin_);
                setProperty('--factor-max', factorMax, factorMax_);
              };

              function setTypeScaleA () {
                setTypeScale('320', '1480', '16', '16', '1.125', '1.125');
              };

              function setTypeScaleB () {
                setTypeScale('320', '1480', '16', '16', '1.2', '1.333');
              };

              function setTypeScaleC () {
                setTypeScale('320', '1480', '16', '20', '1.2', '1.333');
              };

              function setTypeScaleD () {
                setTypeScale('320', '1480', '10', '46.25', '1.2', '1.333');
              };

              const resetToTypeScaleA = document.getElementById('resetToTypeScaleA');
              resetToTypeScaleA.addEventListener('click', setTypeScaleA);

              const resetToTypeScaleB = document.getElementById('resetToTypeScaleB');
              resetToTypeScaleB.addEventListener('click', setTypeScaleB);

              const resetToTypeScaleC = document.getElementById('resetToTypeScaleC');
              resetToTypeScaleC.addEventListener('click', setTypeScaleC);

              const resetToTypeScaleD = document.getElementById('resetToTypeScaleD');
              resetToTypeScaleD.addEventListener('click', setTypeScaleD);

              setTypeScaleD();

            .label-step.u-flow-c-0(id='label-5') xxpx
            .u-step-5(id='heading-5') I am a heading
            .label-step(id='label-4') xxpx
            .u-step-4(id='heading-4') I am a heading
            .label-step(id='label-3') xxpx
            .u-step-3(id='heading-3') I am a heading
            .label-step(id='label-2') xxpx
            .u-step-2(id='heading-2') I am a heading
            .label-step(id='label-1') xxpx
            .u-step-1(id='heading-1') I am a heading
            .label-step(id='label-0') xxpx
            .u-step-0(id='paragraph') I am a paragraph.
