// A variant of the main header for the web site (page) using scss/struct.
ul
    li
        .menu-item
            a(href="/prototypes/refli/blog-index.html").menu-link Blog

    li
        .menu-item
            a(href="#").menu-link Documentation

    li
        .menu-item(tabindex="-1")
            i.menu-mask(tabindex="-1")
            a.menu-dropdown Playground
            .menu-dropdown-content
                a(href="/prototypes/refli/describe.html") Compute salaries
                a(href="#") Convert PDF invoices
                a(href="#") View CODA files

    li
        .menu-item
            a(href="/prototypes/refli/login.html").menu-link Log in
    li
        .menu-item
            a(href="/prototypes/refli/signup.html").menu-link Sign up
