extends ../../layouts/refli/page

block canonical
    link(rel="canonical", href="https://refli.be/nl/blog/2024/01/12/introducing-refli")

block title
    title Refli introduceren

block content
    include ../../partials/refli/nl/blog/introducing-refli
