extends ../../layouts/refli/page

block canonical
    link(rel="canonical", href="https://refli.be/fr/blog/2024/01/12/introducing-refli")

block title
    title Découvrons Refli

block content
    include ../../partials/refli/fr/blog/introducing-refli
