extends ../../layouts/refli/page

block content
    .max-48rem.u-flow-c-4.u-space-after-c-4.center
        .box.u-flow-c-4
            form.c-text.flow
                h4 Foo
                div
                    label Text input
                    input.c-input
                button.c-button.c-button--primary(type="submit")
                    span Submit
                    +arrow-right
