extends ../../layouts/refli/page

block content
    .max-48rem.u-flow-c-4.u-space-after-c-4.center
        form
            .u-container.u-container-vertical.bordered-3
                .c-text.flow
                    h2 Log in to Refli
                    div
                        label Username
                        input.c-input
                    div
                        label Password
                        input.c-input
                    div
                        a(href="reset.html") Reset password
            .switcher-0px
                button.c-button.c-button--primary.c-button--tall(type="submit")
                    span Log in
                    +arrow-right
                a.c-button.c-button--secondary.c-button--tall(href="signup.html")
                    span Sign up
