doctype html
html(dir="ltr", lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/static/css/struct/foundations.css")
        link(rel="stylesheet", href="/static/css/struct/ibm-plex.css")
        link(rel="stylesheet", href="/static/css/struct/fonts.css")
        link(rel="stylesheet", href="/static/css/struct/scale.css")
        link(rel="stylesheet", href="/static/css/struct/layouts.css")
        link(rel="stylesheet", href="/static/css/struct/misc.css")
    body.u-container-vertical.cover
        header
            .u-container
                .c-text
                    style.
                      .logo {font-weight: 700; font-size: 2rem; letter-spacing: -0.05rem;}
                      .logo a {color: black;}

                    div
                        span.logo
                            a(href="motherboard-index.html") Lex Iterata

        .u-container

            style.
              .entry {
                display: flex;
                gap: 1em;
                justify-content: flex-start;
              }
              .entry {margin-top: 1em;}
              .num {width: 3em; text-align: right; flex-grow: 0; flex-shrink: 0;}
              .second-line {color: #555; margin-top: 0.5em;}
              .second-line span {margin-left: 4em;}
              .second-line p + p {margin-top: -0.3em;}
            .c-text.limit-42em
              .entry
                div.num
                  p 1.
                div
                  p 19 JANVIER 2022. - Loi portant le livre 2, titre 3, "Les relations patrimoniales des couples" et le livre 4 "Les successions, donations et testaments" du Code civil (1)
                  .second-line
                    p
                      small
                        | Publié le 14-03-2022
                        span <a href=#>Moniteur</a>
                        span <a href=#>Justel</a>
                    p
                      small SERVICE PUBLIC FEDERAL JUSTICE

              .entry
                div.num
                  p 2.
                div
                  p 19 JANVIER 2022. - CODE CIVIL - LIVRE 2, Titre 3 : " Les relations patrimoniales des couples "
                  .second-line
                    p
                      small
                        | Publié le 14-03-2022
                        span Moniteur
                        span <a href=#>Justel</a>
                    p
                      small JUSTICE

              .entry
                div.num
                  p 3.
                div
                  p 19 JANVIER 2022. - CODE CIVIL - LIVRE 4 : " Les successions, donations et testaments "
                  .second-line
                    p
                      small
                        | Publié le 14-03-2022
                        span Moniteur
                        span <a href=#>Justel</a>
                    p
                      small JUSTICE

              .entry
                div.num
                  p 4.
                div
                  p 21 JANVIER 2022. - Loi portant des dispositions fiscales diverses (1)
                  .second-line
                    p
                      small
                        | Publié le 28-01-2022
                        span <a href=#>Moniteur</a>
                        span <a href=#>Justel</a>
                    p
                      small SERVICE PUBLIC FEDERAL FINANCES

        footer
            .u-container
                hr
                .c-text.flow
                    p
                        small Lex Iterata is a Refli experiment. <a href="motherboard-index.html">Read more.</a>
                    p © Hypered SRL, 2023.
