doctype html
html(dir="ltr", lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/static/css/struct/foundations.css")
        link(rel="stylesheet", href="/static/css/struct/ibm-plex.css")
        link(rel="stylesheet", href="/static/css/struct/fonts.css")
        link(rel="stylesheet", href="/static/css/struct/scale.css")
        link(rel="stylesheet", href="/static/css/struct/layouts.css")
        link(rel="stylesheet", href="/static/css/struct/misc.css")
    body.u-container-vertical.cover
        header
            .u-container
                .c-text
                    div
                        span.logo
                            a(href="motherboard-index.html") Lex Iterata

        .u-container

            .c-text.flow-all
                p Lex Iterata is a sub-site of Refli offering the content of the <a href="https://www.ejustice.just.fgov.be/">official Belgian journal</a> both in human-readable form, and as structured data.
                p There are currently five types of documents:
                ul
                    li
                        a(href="motherboard-index-1.html") Constitution
                    li
                        a(href="motherboard-index-2.html") Law
                    li
                        a() Decree
                    li
                        a() Ordinance
                    li
                        a() Order

        footer
            .u-container
                hr
                .c-text.flow
                    p
                        small Lex Iterata is a Refli experiment. <a href="motherboard-index.html">Read more.</a>
                    p © Hypered SRL, 2023.
