doctype html
html(dir="ltr", lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/static/css/struct/foundations.css")
        link(rel="stylesheet", href="/static/css/struct/ibm-plex.css")
        link(rel="stylesheet", href="/static/css/struct/fonts.css")
        link(rel="stylesheet", href="/static/css/struct/scale.css")
        link(rel="stylesheet", href="/static/css/struct/layouts.css")
        link(rel="stylesheet", href="/static/css/struct/misc.css")
    body.u-container-vertical.cover
        header
            .u-container
                .c-text
                    div
                        span.logo
                            a(href="motherboard-index.html") Lex Iterata

        .u-container
            p
                small.breadcrumb Loi / 2022

            // Given from the root of the project. See the definition of `require`
            // in the gulpfile.
            - var entries = require("./data/lex/law/2022.json")

            .c-text
              each entry, index in entries
                .mb-entry
                  div.mb-num
                    p= index + 1 + '.'
                  div.mb-grow
                    p= entry['title-fr']
                    .mb-second-line.mb-second-line--dense
                      p
                        small
                          | Publié le
                          |
                          = entry['publication-date']
                          |
                          |
                          = entry['source']
                      p
                        small
                          if entry['journal']
                            span <a href="#{entry['journal']}">Moniteur</a>
                          else
                            span Moniteur
                          span <a href="#{entry['justel']}">Justel</a>

        footer
            .u-container
                hr
                .c-text.flow
                    p
                        small Lex Iterata is a Refli experiment. <a href="motherboard-index.html">Read more.</a>
                    p © Hypered SRL, 2023.
