@font-face {
  font-family: 'DejaVu Sans Mono for Powerline';
  font-style: normal;
  font-weight: 400;
  src: local('DejaVu Sans Mono for Powerline'), url(/static/fonts/dejavu-sans-mono-for-powerline.ttf) format('truetype');
}
