extends ../layouts/document

block body
  header
    .o-container--small.c-base
      include ../includes/main-navbar

  .width-container
    .grid-row
      .grid-column-two-thirds
        .c-content
          h1 Two-thirds column
          p This is a paragraph inside a two-thirds wide column.
 
      .grid-column-one-third
        .c-content
          h2 One-third column
          p This is a paragraph inside a one-third wide column.
