doctype html
html(dir="ltr", lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/static/css/struct.css")
        link(rel="canonical", href="https://refli.be/fr/blog/2024/01/12/introducing-refli")
        block title
    body.u-container-vertical
        header
            .u-container
                .u-bar
                    .u-bar__left
                        a(href="/prototypes/refli/index-constant.html")
                            img(src="/static/images/logo.svg" alt="Refli")
                    .u-bar__right
                        // empty

        .u-container
            block content

        footer
            .u-container
                hr
                .c-content.flow
                    p © Hypered SRL, 2023-2024.
