doctype html
html(dir="ltr", lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/static/css/struct.css")
    body.u-container-vertical
        header
            .u-container
                .u-bar
                    .u-bar__left
                        a(href="/prototypes/refli-index-struct-constant.html")
                            img(src="/static/images/logo.svg" alt="Refli")
                    .u-bar__right
                        include ../../includes/main-header--page-struct

        main
            .u-container
                block content

        footer
            .u-container
                hr
                .switcher
                    .c-content.flow
                        h4 Refli
                        ul
                            li
                                a(href="/about.html") About
                            li
                                a(href="/changelog.html") Changelog
                            li
                                a(href="/contact.html") Contact
                            li
                                a(href="/disclaimer.html") Disclaimer
                            li
                                a(href="/documentation.html") Documentation
                    .c-content.flow
                        h4 Social security contributions
                        ul
                            li
                                a(href="#") Personal contributions
                            li
                                a(href="#") Employment bonus
                            li
                                a(href="#") Special contribution
                    .c-content.flow
                        h4 Professional tax withholding
                        ul
                            li
                                a(href="#") Fixed professional fees
                            li
                                a(href="#") Basic scale
                            li
                                a(href="#") Reductions for dependant children
                        h4 Rounding method
                        ul
                            li
                                a(href="#") Rounding
                            li
                                a(href="#") Professional tax withholding details

                hr
                span © Hypered SRL, 2023.
