//-
  The main navigation bar appearing at the top of pages.
.c-navbar
  .c-toolbar
    .c-toolbar__left
      .c-toolbar__item
        a noteed.com
      .c-toolbar__item
        a blog
      .c-toolbar__item
        a notes
      .c-toolbar__item
        a nix-notes
      .c-toolbar__item
        a not-os
      .c-toolbar__item
        a videos
