//-
  A toolbar is, from a CSS perspective, just a navigation bar.

.c-navbar
  .c-toolbar
    .c-toolbar__left
      .c-toolbar__item
        a play
      .c-toolbar__item
        a pause
      .c-toolbar__item
        a stop
      .c-toolbar__item
        a previous
      .c-toolbar__item
        a next
      .c-toolbar__item
        a fast backward
      .c-toolbar__item
        a fast forward
